<div class="section aboutme" id="about">
    <h2>About us</h2>
    <div>
        <img src="~/landing/images/aboutme.jpg" />
    </div>
    @*<div class="picdesc">
            @About.Picdesc <span class=" icon fa-smile-o"></span>
        </div>*@
    <div class="text">
        Whatever tumblr cliche DIY lumbersexual man braid, deep v swag kombucha tilde hashtag vice shabby chic blog. Drinking vinegar disrupt leggings banh mi kinfolk next level fanny pack keffiyeh raw denim readymade freegan whatever venmo. Everyday carry sustainable 3 wolf moon brooklyn. Crucifix succulents bicycle rights post-ironic keytar ugh viral jianbing retro celiac wayfarers chambray lyft humblebrag.
    </div>
</div>
