@{
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<section class="features-split section">
    <div class="container" id="theapp">
        <div class="features-split-inner section-inner has-top-divider">
            <div class="section-header center-content">
                <div class="container-xs">
                    <h2 class="mt-0 mb-16">
                        The App
                    </h2>
                    @*<p class="m-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.
                        </p>*@
                </div>
            </div>
            <div class="split-wrap invert-mobile">


                <div class="split-item">
                    <div class="split-item-content center-content-mobile">
                        @*<h3 class="mt-0 mb-16 reveal-from-left" data-reveal-container=".split-item">
                                Get up and running fast
                            </h3>*@
                        <p class="m-0 reveal-from-left" data-reveal-delay="100" data-reveal-container=".split-item">
                            Easily create standardized modules and test systems using pre-defined and configurable templates. Retain all records digitally with simplified workflows. 
                        </p>
                    </div>
                    <div class="split-item-image split-item-image-fill illustration-element-01 reveal-from-bottom" data-reveal-container=".split-item" data-reveal-delay="200">
                        <img class="has-shadow" src="~/landing/images/features-split-image.svg" alt="Features split image 01">
                        <!-- this element is for demo purpose only -->
                        <div style="position:absolute;bottom:-0.5%;right:-16.67%;">
                            <img src="~/landing/images/theapp_4.jpg" alt="Features split top 01" width="528">
                        </div>
                    </div>
                </div>


                <div class="split-item">
                    <div class="split-item-content center-content-mobile">
                        @*<h3 class="mt-0 mb-16 reveal-from-left" data-reveal-container=".split-item">
                                Get up and running fast
                            </h3>*@
                        <p class="m-0 reveal-from-left" data-reveal-delay="100" data-reveal-container=".split-item">
                            Training and competency are visible to the trainer, trainee, and leadership. Transparency creates engagement and an understanding of expectations.
                        </p>
                    </div>
                    <div class="split-item-image split-item-image-fill illustration-element-03 reveal-from-bottom" data-reveal-container=".split-item" data-reveal-delay="200">
                        <img class="has-shadow" src="~/landing/images/features-split-image.svg" alt="Features split image 03">
                        <!-- this element is for demo purpose only -->
                        <div style="position:absolute;top:-5.05%;left:-6.06%;">
                            <img src="~/landing/images/theapp_3.jpg" alt="Features split top 03" width="528">
                        </div>
                    </div>
                </div>
                <div class="split-item">
                    <div class="split-item-content center-content-mobile">
                        @*<h3 class="mt-0 mb-16 reveal-from-right" data-reveal-container=".split-item">
                                Get up and running fast
                            </h3>*@
                        <p class="m-0 reveal-from-right" data-reveal-delay="100" data-reveal-container=".split-item">
                            Search and retrieve any data using multiple filters in an intuitive user interface. 
                        </p>
                    </div>
                    <div class="split-item-image split-item-image-fill illustration-element-02 reveal-from-bottom" data-reveal-container=".split-item" data-reveal-delay="200">
                        <img class="has-shadow" src="~/landing/images/features-split-image.svg" alt="Features split image 02">
                        <!-- this element is for demo purpose only -->
                        <div style="position:absolute;top:-5.05%;left:-6.06%;">
                            <img src="~/landing/images/theapp_1.jpg" alt="Features split top 02" width="528">
                        </div>
                    </div>
                </div>




                <div class="split-item">
                    <div class="split-item-content center-content-mobile">
                        @*<h3 class="mt-0 mb-16 reveal-from-right" data-reveal-container=".split-item">
                                Get up and running fast
                            </h3>*@
                        <p class="m-0 reveal-from-right" data-reveal-delay="100" data-reveal-container=".split-item">
                            From initiation through approval all documents are time stamped for a transparent audit trail. E-signatures meet 21 CFR Part 11 requirements and all data is secured.
                        </p>
                    </div>
                    <div class="split-item-image split-item-image-fill illustration-element-02 reveal-from-bottom" data-reveal-container=".split-item" data-reveal-delay="200">
                        <img class="has-shadow" src="~/landing/images/features-split-image.svg" alt="Features split image 02">
                        <!-- this element is for demo purpose only -->
                        <div style="position:absolute;top:-5.05%;left:-6.06%;">
                            <img src="~/landing/images/theapp_2.jpg" alt="Features split top 02" width="528">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
