
<div class="section portfolio" id="portfolio">
    <h2>The App</h2>

    <a id="tocontact" title="get started for free" class="button">No installation required! Get Started Free.</a>
    <br />
    <br /><br />
    @*<div>No installation required!</div>
        <div>"Get Started Free"</div>*@
    @*<div class="text">
            Built to ensure that laboratories can consistently document that all personnel have the appropriate training for the type and complexity of services offer.
            <span class="link">https://www.cdc.gov/clia/</span>
        </div>
        <br style="clear:both;" />*@
    <div class="video">
        @*<div class="text">
                Some text about the video
            </div>*@
        <div layout="row" layout-align="center center">
            <div hide show-gt-sm flex="25">&nbsp;</div>
            <div flex>
                <div class="video-responsive">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/RTxhlJwHGJs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div hide show-gt-sm flex="25">&nbsp;</div>
        </div>
    </div>
   
    @*<br style="clear:both;" />*@
    <div layout="row" class="itemscontainer" layout-align="center center">
        <div class="arrow leftarrow" layout="row" layout-align="center center"><i class="material-icons">chevron_left</i></div>
        <div class="items">
            <div class="item" id="ll" data-name="ll" data-num-slides="3" data-title="one">
                <div class="overlay" layout="column" layout-align="space-between center">
                    <div>
                        <div class="about">DIY copper mug church-key</div>
                        <div class="tech">kitsch edison bulb meh wayfarers hashtag</div>
                    </div>
                    @*<div class="bottombr"><span class=" icon fa-play">&nbsp;</span></div>*@
                </div>
                <div class="image"><img src="~/landing/images/ll_thumb.jpg" alt="" /></div>
                <div class="label"> Assign indivdual Training Sessions or Competency Assessments to multiple team members; eliminating inconsistencies and documentation errors </div>
            </div>
            <div class="item" id="wa2" data-name="wa2" data-num-slides="3" data-title="two">
                <div class="overlay" layout="column" layout-align="space-between center">
                    <div>
                        <div class="about">Listicle four dollar toast snackwave iPhone</div>
                        <div class="tech">enamel pin offal pork belly artisan butcher jianbing DIY</div>
                    </div>
                    @*<div class="bottombr"><span class=" icon fa-play">&nbsp;</span></div>*@
                </div>
                <div class="image"><img src="~/landing/images/wa2_thumb.jpg" alt="" /></div>
                <div class="label">Isolate any team member to effortlessly manage their past, present and future training or competencies </div>
            </div>
            <div class="item" id="rk" data-name="rk" data-num-slides="3" data-title="three">
                <div class="overlay" layout="column" layout-align="space-between center">
                    <div>
                        <div class="about">3 wolf moon hexagon enamel</div>
                        <div class="tech">digital submission, review and approval</div>
                    </div>
                    @*<div class="bottombr"><span class=" icon fa-play">&nbsp;</span></div>*@
                </div>
                <div class="image"><img src="~/landing/images/rk_thumb.jpg" alt="" /></div>
                <div class="label"> Training Sessions use our Data Comparison Model™️. Team members can enter data simultaneously for real time comparison </div>
            </div>
            <div class="item" id="ms" data-name="ms" data-num-slides="4" data-title="four">
                <div class="overlay" layout="column" layout-align="space-between center">
                    <div>
                        <div class="about">Dreamcatcher four dollar toast</div>
                        <div class="tech">waistcoat aesthetic kitsch health goth</div>
                    </div>
                    @*<div class="bottombr"><span class=" icon fa-play">&nbsp;</span></div>*@
                </div>
                <div class="image"><img src="~/landing/images/ms_thumb.jpg" alt="" /></div>
                <div class="label"> Workflows capture timestamps, acknowledgments, reviews and approvals. All e-signatures executed in the The Proficient Lab meets 21 CFR part 11 regulatory requirements </div>
            </div>
            @*<div class="item" id="wa" data-name="wa" data-num-slides="2" data-title="five">
                    <div class="overlay" layout="column" layout-align="space-between center">
                        <div>
                            <div class="about">Bespoke taiyaki austin</div>
                            <div class="tech">selvage scenester before they sold out</div>
                        </div>
                        <div class="bottombr"><span class=" icon fa-play">&nbsp;</span></div>
                    </div>
                    <div class="image"><img src="~/landing/images/wa_thumb.jpg" alt="" /></div>
                    <div class="label">eeee</div>
                </div>*@
        </div>
        <div class="arrow rightarrow" layout="row" layout-align="center center"><i class="material-icons">chevron_right</i></div>
    </div>

</div>
