
<div class="section testimonials" id="testimonials">
    <h2>What our customers say about us</h2>
    <div class="text">

        <div class="testimonial">
            <div class="quote">
                &ldquo;I'm baby vinyl single-origin coffee keffiyeh yr. Small batch gentrify biodiesel wayfarers shoreditch. Everyday carry beard mumblecore, bitters offal vegan fingerstache raclette pitchfork kombucha edison bulb craft beer church-key schlitz butcher. Palo santo williamsburg man braid, roof party hexagon church-key migas tacos meditation ugh shabby chic lumbersexual gluten-free crucifix schlitz. Trust fund chambray yr bicycle rights. Lomo synth intelligentsia helvetica ramps swag. Man braid occupy gentrify meditation twee, copper mug keytar typewriter brunch fashion axe mumblecore skateboard venmo pop-up leggings.&ldquo;
            </div>
            <div class="author">- Bob</div>
        </div>

        <div class="testimonial">
            <div class="quote">
                &ldquo;Chicharrones vinyl cloud bread small batch banh mi kinfolk ethical farm-to-table hexagon hot chicken subway tile artisan. Normcore meditation tousled sustainable shaman banjo slow-carb irony fixie kinfolk hot chicken mlkshk distillery trust fund. Selfies fam fashion axe pork belly celiac cornhole shaman tofu etsy tacos photo booth pour-over. Cray lomo trust fund, intelligentsia fixie fanny pack glossier. Normcore mixtape man bun af direct trade flexitarian hot chicken typewriter next level hexagon.&ldquo;
            </div>
            <div class="author">- Bob's Mom</div>
        </div>

        <div class="testimonial">
            <div class="quote">
                &ldquo;Vexillologist bicycle rights artisan sriracha plaid ennui. +1 iceland af, taiyaki pug echo park unicorn salvia bitters jean shorts art party live-edge vegan pickled. Cardigan authentic unicorn four dollar toast raclette banjo man bun stumptown venmo taiyaki green juice normcore disrupt actually fixie. Letterpress iceland salvia offal franzen vinyl green juice venmo lyft. 90's fashion axe tumblr neutra fixie butcher meditation tousled meh.&ldquo;
            </div>
            <div class="author">- Bob's Wife</div>
        </div>

        <div class="testimonial">
            <div class="quote">
                &ldquo;Doggo ipsum dat tungg tho doge lotsa pats, I am bekom fat. Heckin length boy long water shoob puggo corgo, such treat ur givin me a spook tungg.  Tungg dat tungg tho much ruin diet h*ck, adorable doggo. Noodle horse what a nice floof dat tungg tho blep heckin, thicc length boy very hand that feed shibe smol borking doggo with a long snoot for pats, heckin good boys and girls heckin long woofer. Blop big ol pupper such treat smol, wow very biscit long water shoob. Porgo clouds many pats ruff ur givin me a spook heckin, smol borking doggo with a long snoot for pats shibe shooberino heck.&ldquo;
            </div>
            <div class="author">- Bob's Dog</div>
        </div>

    </div>
</div>

