@{
    var controller = this.ViewContext.RouteData.Values["controller"].ToString();
}


<section class="section">
    <div class="container" id="whyus">
        <div class="section-inner has-top-divider">
            <div class="section-header center-content">
                <div class="container-xs">
                    <h2 class="mt-0 mb-16">
                        Why Us
                    </h2>
                    <p class="m-0">
                        A strong training and competency foundation is vital for patient safety.   <br /> We’ve created digital solutions to streamline laboratory compliance and nix the paper, saving you time and money.
                    </p>
                </div>
            </div>
            <div class="container-xs">
                <ul class="accordion list-reset mb-0">
                    <li>
                        <div class="accordion-header text-sm">
                            <span class="text-sm text-color-high fw-500">Digital management and compliance</span>
                            <div class="accordion-icon"></div>
                        </div>
                        <div class="accordion-content text-xs">
                            <ul class="whyus-ul">
                                <li>Create standardize system-wide training and competency procedures</li>
                                <li>Select CLIA-aligned evaluation methods to easily satisfy all elements</li>
                                <li>Assign training and competency to team members using role based access</li>
                                <li>Automate the 6-month, 1-year competency reminders for each team member</li>
                                <li>Executed e-signatures meet 21 CFR Part 11 requirements</li>
                            </ul>
                        </div>
                    </li>
                    <li @*class="is-active"*@>
                        <div class="accordion-header text-sm">
                            <span class="text-sm text-color-high fw-500">Get rid of binders</span>
                            <div class="accordion-icon"></div>
                        </div>
                        <div class="accordion-content text-xs">
                            <ul class="whyus-ul">
                                <li>Increase physical storage in your laboratory</li>
                                <li>Use role based access to allow trainees to view and anticipate what’s next</li>
                                <li>Document and sign-off on training and competency anytime, anywhere</li>
                                <li>Quickly retrieve training and competency documentation during inspections</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="accordion-header text-sm">
                            <span class="text-sm text-color-high fw-500">Gain Insight from your digital data</span>
                            <div class="accordion-icon"></div>
                        </div>
                        <div class="accordion-content text-xs">
                            <ul class="whyus-ul">
                                <li>View the real-time status of all training and competencies</li>
                                <li>Understand onboarding timeliness per process and trainer</li>
                                <li>Know when new hires are competent to work independently, task by task</li>
                                <li>Understand training and competency pain points</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <br />
                <div class="container-xs center-content">
                    <a class="button button-primary" target="_blank" href="https://links.theproficientlab.com/3fd">Schedule a demo</a>
                </div>
            </div>
        </div>
    </div>
</section>